@model heryerindirim.com.Models.Campaign

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Campaign</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CampaignId" />
        <div class="form-group">
            <label asp-for="CampaignName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CampaignName" class="form-control" />
                <span asp-validation-for="CampaignName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CampaignDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CampaignDate" class="form-control" />
                <span asp-validation-for="CampaignDate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CategoryEnum" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="CategoryEnum" class="form-control"></select>
                <span asp-validation-for="CategoryEnum" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CampaignDates" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CampaignDates" class="form-control" />
                <span asp-validation-for="CampaignDates" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CampaignImage" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CampaignImage" class="form-control" />
                <span asp-validation-for="CampaignImage" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
